<a href="https://www.kaggle.com/madeelbadar/bakery?scriptVersionId=89177172" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bakery-sales/Bakery Sales.csv
/kaggle/input/bakery-sales/Bakery price.csv

****In this notebook I will be doing an exploratory analysis of the business results of a bakery based in korea.****
****Because this is an exploratiory data analysis I have no end goal in mind.****
****The goal here is to demonstrate by interest in the Junior Analyst position and also to demonstrate my ability to work with data and to present my findings****

In [2]:
#matplotlib is a common python visualization tool. It makes it very easy to represent data as diffrent types of graphs and charts 
import matplotlib.pyplot as plt

In [3]:
#seaborn is also a vizualization library similar to matplotlib but I think the graphs look better so i will mainly be using seaborn.
import seaborn as sns

In [4]:
#in this code cell im taking the original file that is a csv and converting it into a sort of file that I can manipulate it in python 
sales=pd.read_csv('../input/bakery-sales/Bakery Sales.csv')
prices=pd.read_csv('../input/bakery-sales/Bakery price.csv')

In [5]:
#the .shape function tells us the shape of the file. For example the sales dataframe has 27 colums and 2654 rows
print(sales.shape)
print(prices.shape)

(2654, 27)
(22, 2)

In [6]:
#the tail funtion shows us the last few rows of data and here is when we run into our first issue
#there is a lot of missing data and we have to figure out what to do with the missing values
sales.tail()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
2649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2653,2020-06-18 14:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#We saw in the previous output that there are many rows that simply include no data at all.
#These rows should be dropped since they have no useful information. Not even a date
#dropna is a built in method to delete all rows that have a certain amount of "NaN" values
#I choose to delete rows where all values are "NaN" by setting how="all"
sales=sales.dropna(how='all')

In [8]:
#By simply dropping "NaN" values we have reduced the size of the data by just over 200 rows 
sales.shape

(2421, 27)

In [9]:
#We can see here that many rows still have numerous values with"NaN" values
#We can see from the date that in all of these cases "NaN" is used to represent cases in which the value should say 0
sales.tail()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2418,2020-05-02 13:45,Sat,15000.0,소양동,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2653,2020-06-18 14:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#with this function i'm able to replace all values that currently say "NaN" to values that are 0
sales=sales.fillna(value=0)

In [11]:
#mission success!!!! We have replaced all "Nan" values with 0
sales.tail()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2418,2020-05-02 13:45,Sat,15000.0,소양동,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2653,2020-06-18 14:52,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
#We find something interesting here on 2020-06-18 for some reason the value under day of week is 0
#We should correct that and see if any other rows have that same issue
sales.tail()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2418,2020-05-02 13:45,Sat,15000.0,소양동,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2653,2020-06-18 14:52,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#here we create a new dataframe called by_zero that consisted of all rows where the value under day of week is 0
by_zero=sales.loc[sales['day of week'] == 0]

In [14]:
#luckily the data only consists of one row that is filled with all zeroes
print(by_zero)

              datetime day of week  total place  angbutter  plain bread  jam  \
2653  2020-06-18 14:52           0    0.0     0        0.0          0.0  0.0

      americano  croissant  caffe latte  ...  gateau chocolat  pandoro  \
2653        0.0        0.0          0.0  ...              0.0      0.0

      cheese cake  lemon ade  orange pound  wiener  vanila latte  berry ade  \
2653          0.0        0.0           0.0     0.0           0.0        0.0

      tiramisu  merinque cookies
2653       0.0               0.0

[1 rows x 27 columns]

In [15]:
#here we are going to replace the value 0 with Thru
sales["day of week"]=sales["day of week"].replace(0, "Thru")

In [16]:
#The change looks good!!!!
sales.tail()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2418,2020-05-02 13:45,Sat,15000.0,소양동,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2653,2020-06-18 14:52,Thru,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
#we saw in the previous output that each row represents a single transaction 
#we are instead going to group the rows by the date
#we are going to do this by seperate datetime into 2 diffrent columns
#one consisting of date and the other consisting of time
sales['time'] = sales['datetime'].str[10:16]
sales['date'] = sales['datetime'].str[0:10]
sales.tail()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,time,date
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11:39,2020-05-02
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12:15,2020-05-02
2418,2020-05-02 13:45,Sat,15000.0,소양동,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13:45,2020-05-02
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,14:45,2020-05-02
2653,2020-06-18 14:52,Thru,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14:52,2020-06-18

In [18]:
#here we are creating a new dataframe that will consist of only diffrent kinds of baked goods, the date, and the day 
#the reason for this is so we can group rows together in order to see how the business performs per day
#and if there is any cyclicality to the business
sales_date=sales.drop(columns=['time','datetime', 'place'])

In [19]:
#in this codecell we will be grouping rows together by the date and taking the sum of all the baked goods on that day
sales_date_groupby=sales_date.groupby(['date']).sum()
sales_date_groupby.head()

,total,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,pain au chocolat,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
date,,,,,,,,,,,,,,,,,,,,,
2019-07-11,39600.0,2.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2019-07-12,58000.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-07-13,117400.0,8.0,3.0,0.0,0.0,0.0,0.0,5.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0
2019-07-14,212000.0,15.0,0.0,1.0,3.0,0.0,1.0,9.0,4.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0
2019-07-15,30900.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#we have managed to drastically reduce the size of the data and made it much more usable for analysis
#we can continue in python but at this point i will move to a spreadsheet software 
sales_date_groupby.shape

(250, 24)

In [21]:
#this is the code to download the dataframe as a csv file
sales_date_groupby.to_csv('sales_date_groupby')